<div class="container">
  <div class="row text-white mt-4  p-4 mb-2">
    <div class="col-lg-4">
      <h5>App Info</h5>
    </div>
    <div class="col-lg-8 text-center">
      <div class="row mb-3">
        <div class="col-lg-4 text-left">
          <span class="ml-auto"><strong>App Name</strong></span>
        </div>
        <div class="col-lg-8 text-left font-weight-light">
          <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-4 text-left">
          <span class="ml-auto ">App Name</span>
        </div>
        <div class="col-lg-8 text-left">
          <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
        </div>
        <br>
      </div>
      <div class="row mb-3">
        <div class="col-lg-4 text-left">
          <span class="ml-auto ">App Name</span>
        </div>
        <div class="col-lg-8 text-left">
          <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-4 text-left">
          <span class="ml-auto ">App Name</span>
        </div>
        <div class="col-lg-8 text-left">
          <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-4 text-left">
          <span class="ml-auto ">App Name App Name</span>
        </div>
        <div class="col-lg-8 text-left">
          <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-4 text-left">
          <span class="ml-auto ">App Name</span>
        </div>
        <div class="col-lg-8 text-left">
          <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
        </div>
      </div>
    </div>
  </div>
</div>

<center>
  <div style="height:1px; width:80%; background-color:grey;" class="container text-white"></div>
</center>


<div class="container  mt-2 text-white">
  <div class="row  mt-4">
    <div class="col-lg-4">
      <h5>Databases</h5>
    </div>
    <div class="col-lg-8">
      <!--start-->
     
      <form id="databases_form" class="project_id" data_project_id="<%= project._id %>">
        <div class="row customcontainer align-items-center">
          <div class="col-lg-4 col-md-4 col-sm-6 d-flex flex-row justify-content-center">
            <label class="option_item">
              <input type="checkbox" class="checkbox" name="postgres">
              <div class="option_inner facebook">
                <div class="tickmark"></div>
                <div class="name">Postgres</div>
                <div style="margin-top: 14px;height:60px;object-fit:cover;">
                  <img src="../static/images/download.png" width="100%">
                </div>
              </div>
            </label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 d-flex flex-row justify-content-center">
            <label class="option_item">
              <input type="checkbox" class="checkbox" name="mongo">
              <div class="option_inner facebook">
                <div class="tickmark"></div>
                <div class="name">MongoDB</div>
                <div style="margin-top: 14px;height:60px;object-fit:cover;">
                  <img src="../static/images/mongo.png" width="100%">
                </div>
              </div>
            </label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 d-flex flex-row justify-content-center">
            <label class="option_item">
              <input type="checkbox" class="checkbox" name="mysql">
              <div class="option_inner facebook">
                <div class="tickmark"></div>
                <div class="name">MySQL</div>
                <div style="margin-top: 14px;">
                  <img src="../static/images/mysql.png" width="80%" style="height:80px;object-fit:cover;">
                </div>
              </div>
            </label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 d-flex flex-row justify-content-center">
            <label class="option_item">
              <input type="checkbox" class="checkbox" name="dbsqlite">
              <div class="option_inner facebook">
                <div class="tickmark"></div>
                <div class="name">SQLite</div>
                <div style="margin-top: 14px ;object-fit:cover;">
                  <img src="../static/images/sqlite.jpeg" width="80%">
                </div>
              </div>
            </label>
          </div>
      </form>
      <!--end-->
    </div>
    <div class="d-flex flex-row-reverse mb-2">
      <button class="btn btn-danger" id="databases_submit"> Save </button>
    </div>
  </div>
</div>
</div>


<center>
  <div style="height:1px; width:80%; background-color:grey;" class="container text-white"></div>
</center>


<!--- configurations division -->


<div class="container">
  <div class="row text-white mt-4  p-4 mb-2">
    <div class="col col-lg-4">
      <h5>Config Vars</h5>
    </div>
    <div class="col col-lg-8 text-center" id="configurations">
      <% project.config_vars.forEach(function(config,idx){ %>
          <form id="config-form-<%= idx+1 %>" style="margin-bottom: 12px;">
            <div class="row form-row align-items-center">
                  <div class="col col-lg-5">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="text" class="form-control mb-2 text-white" style="background-color:#3d3d48" id="key" name="key"
                      placeholder="Key" required value="<%= config.key %>" disabled data_id="key_<%= idx+1 %>"/>
                  </div>
                  <div class="col col-lg-5">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="text" class="form-control mb-2 text-white" style="background-color:#3d3d48" id="value"
                      name="value" placeholder="value" required value="<%= config.value %>" disabled data_id="value_<%= idx+1 %>" />
                  </div>
                  <div class="col col-lg-1">
                      <button type="button"  data_id ="pencil_<%= idx+1 %>" data-bs-toggle="modal" data-bs-target="#updateModal" data-whatever="@mdo" class="btn btn-secondary mb-2 pencil" id="pencil"><i class="fa fa-1x fa-pencil" aria-hidden="true"></i>
                      </button>
                  </div>
                  <div class="col col-lg-1">
                    <button type="button" data_id ="cross_<%= idx+1 %>" data-bs-toggle="modal" data-bs-target="#closeModal" data-whatever="@Hi" class="btn btn-secondary mb-2 cross" id="cross"><i class="fa fa-times" aria-hidden="true"></i></button>
                  </div>
            </div>
          </form>
      <% }) %>
      <form  style="margin-bottom: 12px;">
        <div class="row form-row align-items-center">
              <div class="col col-lg-5">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2 text-white" style="background-color:#3d3d48" id="key" name="key"
                  placeholder="Key" required  />
              </div>
              <div class="col col-lg-5">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2 text-white" style="background-color:#3d3d48" id="value"
                  name="value" placeholder="value" />
              </div>
              <div id="addbtn-container" class="col-lg-2">
                <button id="add" type="submit" class="btn btn-secondary mb-2">Add</button>
              </div>
        </div>
      </form>
    </div>
  </div>
  </div>
<center>
  <div style="height:1px; width:80%; background-color:grey;" class="container text-white"></div>
</center>

<center><button id="deploy" class="btn btn-danger mt-2 mb-4">Deploy</button></center>

<style>
  body {
    background-color: #001831d4;
  }
</style>


<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Update config var</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close"
          class="btn btn-secondary cross"><i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <form id="updateModal_form">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label" aria-disabled="true">Key</label>
            <input type="text" class="form-control" id="config_update_modal_key" disabled name="key">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Value</label>
            <input type="text" class="form-control"  id="config_update_modal_value" name="value"></textarea>
          </div>
        </form>
      </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary hideUpdateModal" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" id="updateConfigSave">Update</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="closeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Delete the config var??</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-secondary cross"><i
            class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <form id="closeModal_form">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label" aria-disabled="true"  >Key</label>
            <input type="text" class="form-control"  id="config_del_modal_key" disabled name="key" data_id ="key_1">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Value</label>
            <input type="text" class="form-control"   id="config_del_modal_value" aria-disabled="true" name="value" disabled data_id ="value_1"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary hideDelModal" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="delConfigSave">Sure?</button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" src="../static/js/projectDetails.js">
</script>